

#cube{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 40vh;
    left: 40vw;
    transform-style: preserve-3d;
    perspective: 10000px;
    transition: all 1s ease-in-out;
    animation: spin 4s ease-in-out infinite;
}

@keyframes spin{
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(720deg) rotateY(360deg);
    }
}

.face{
    height: 100%;
    width: 100%;
    position: absolute;
}

#one{
    background-color: skyblue;
}

#two{
    background-color: orange;
    transform: rotateY(90deg) translateZ(-100px) translateX(100px);
}

#three{
    background-color: pink;
    transform: rotateY(90deg) translateZ(100px) translateX(100px);
}

#four{
    background-color: red;
    transform: translateZ(-200px);
}

#five{
    background-color: violet;
    transform: rotateX(90deg) translateZ(-100px) translateY(-100px);
}

#six{
    background-color: green;
    transform: rotateX(90deg) translateZ(100px) translateY(-100px);
}