#toggle-btn{
    height: 30px;
    width: 80px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 60px auto;
}

#circle{
    height: 29px;
    width: 29px;
    border-radius: 20px;
    background-color: black;
    margin-left: 1px;
    margin-top: 0.5px;
}

h1{
    text-align: center;
}