div{
    background-color: green;
}

.akash{
    background-color: blue;
    height: 200px;
    margin-bottom: 20px;
}

#baisakhi{
    background-color: red;
}

h1{
    color: blue;
    background-color: rgb(128, 128, 128);
}

/* div img{
    width: 10px;
} */

