body{
    position: relative;
    height: 100vh;
}
#circle{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
}